table
{

    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */

}

.bordure

{

    border: 1px solid black;

}


label
{
	color:blue;
	font-family:Arial black;
	font-size:25px;
}

.iden
{
	font-family:Courier New ;
	font-style: italic;
}

.recetteall
{
	font-family:Comic Sans MS ;
}

